<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDoWHDUNstw0sd48TZ6a6tTzLsw9GmsfbM</string>
	<key>GCM_SENDER_ID</key>
	<string>768042519033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.app.ben.benapp.dev</string>
	<key>PROJECT_ID</key>
	<string>benapp-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>benapp-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768042519033:ios:f70ebb34fe975105b81528</string>
</dict>
</plist>