rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuth() {
    	return request.auth != null;
    }
    match /{document=**} {
      allow read, write: if isAuth();
    }
  }
}